@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#loginContainer{
    width: 100%;
    display: inline-flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
}

#loginContainer > div, #loginContainer > form{
    width:42%;
    margin:  2% 4%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 76vh;
    padding: 2%;
    border-radius: 20px;
}

#loginContainer > div > h1 , #loginContainer > form > h1{
    margin-top: 2%;
    font-family: 'Parisienne', cursive;
    letter-spacing:3px;
    font-size: 340%;
}

#aboutUsDiv > p{
    text-align: left;
    line-height: 140%;
    font-size: 110%;
    margin: 15% 0%;
}
#loginContainer > div > img{
    height: 22%;
    margin-top: 0%;
    margin-bottom: 3%;
}


#leftLoginSide > p {
    margin-top: 20%;
    text-align: center;
    letter-spacing: 1 px;
    font-family:Arial, Helvetica, sans-serif;
}

#leftLoginSide > a {
    text-align: right;
    letter-spacing: 1 px;
    width: 50%;
    margin: auto;
}

#leftLoginSide > input {
    text-align: left ;
    width: 40%;
    margin-right: 10%;
    float: right;
    border-radius: 9px;
    height: 18px;
}

#leftLoginSide > button{
    width: 60%;
    height: 5%;
    border-radius: 50px;
    font-family: 'Handlee', cursive;
    font-weight: 600;
    font-size: 130%;
    letter-spacing: 2px;
}

h3{
    font-size: 135%;
    font-family: 'Handlee', cursive;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



@media screen and (max-width: 1500px) {
    #loginContainer > div, #loginContainer > form{
        width: 50%;
        padding: 2% 0;
        margin: 2% 0;
        border-radius: 0;
        background-color: transparent;
    }

    button{
        height: 7% !important;
    }
 }

 
@media screen and (max-width: 1050px) {
    #loginContainer {
        margin: 2vh auto 0 auto;
    }
 }

  
@media screen and (max-width: 780px) {
    h1{
        margin-top: 5% !important;
    }

    #loginContainer {
        display: flex;
        overflow-y: auto;
        height: auto;
        flex-direction: column;
    }

    #loginContainer > div , #loginContainer > form{
        width: 90%;
        height: auto;
        margin: 2% auto;
    }
    #loginContainer > form > button {
        height: 7%;
    }

    #loginContainer > div > p {
        margin: 15% 15% 5% 15%;
    }

    p {
        margin-top: 8% !important;
    }
    
    #passInput{
        margin-bottom: 10%;
    }


    #loginContainer > div > h3 {
        margin: 5% auto;
    }

    #loginContainer > form{
        margin: 4% auto;
        padding-bottom: 15%;
    }

}
@media screen and (max-width: 780px) and (max-height :600px){
    #loginContainer {
        margin-top: -12.5vh !important;
    }
}



@media screen and (max-width: 650px) {
    #loginContainer > div , #loginContainer > form{
        width: 100%;
    }

    #loginContainer > div > p {
        margin: 15% 4% 5% 4%;
    }
}

@media screen and (max-width: 500px) {
    #leftLoginSide > h1{
        margin-top: 20% !important;
    }
    #aboutUsDiv{
        height: fit-content
    }

    #aboutUsDiv > img{
        height: auto !important;
        margin-bottom: -1% !important;
    }
}


@media screen and (min-width: 1160px) and (max-height: 800px) {
    #aboutUsDiv > p{
        margin: 7% 0 2%;
    }
}



@media screen and (max-width: 550px) {
    #loginContainer{
        margin-top: -12.5vh;
    }
    #leftLoginSide > h1{
        margin-top: 20% !important;
    }
}

@media screen and (max-width: 450px) {
    #leftLoginSide > h1{
        margin-top: 25% !important;
    }
}

@media screen and (max-width: 385px) {
    #leftLoginSide > h1{
        margin-top: 30% !important;
    }
}

@media screen and (max-width: 307px) {
    #leftLoginSide > h1{
        margin-top: 35% !important;
    }
}