@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

h1{
    font-family: 'Parisienne', cursive;
    font-size: 300%;
    letter-spacing: 4px;
    color: black;
    padding-top: 2%;
    padding-bottom: 1.5%;
    font-weight: bold;
}

table{    
    border-radius: 20px 20px 0px 20px;
    margin: auto;
    font-size: x-large;
    border-collapse: collapse;
    width: 60vw;;
	background-color: rgba(255, 255, 255, 0.8);
    table-layout: fixed;
    margin-bottom: 1.5%;
    
    font-family: 'Arima Madurai';
    font-weight: bolder;
    font-size: 150%;
}

th{
    padding-top: 1%;
}

thead >tr> th{
    width: auto;
}
tbody >tr>  td {
    width: 10%;
}

td{
    border-top: 1px black solid;
}

td > button{
    font-family: 'Arima Madurai';
    font-weight: bolder;
    font-size: 90%;
    width: 80%;
    
}

tbody {
    display: block;
    height: 200px;
    overflow-y:scroll;
    overflow-x:hidden;
    width: calc(60vw + 20px);
}


td > img{
    height: 80px;
    width: 120px;
    object-fit: cover;
}

tbody::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

tbody::-webkit-scrollbar{
	width: 20px;
	background-color:rgba(255, 255, 255, 1);
	border-radius: 0px 10px 10px 0px;
}

tbody::-webkit-scrollbar-thumb{
	border-radius: 0px 10px 10px 0px;
	background-color: #0000003b;
}

th, td{
    width: 12vw;
}

#totalPrice{
    font-family: 'Arima Madurai';
    font-weight: bolder;
    font-size: 200%;
}

#buttonsContainer > button{
    width: 20vw;
    margin-left: 5%;
    margin-right: 5%;
}

button > img {
    height: 40px;
    padding: 0;
}

button > a {
    vertical-align: 45%;
    font-family: 'Arima Madurai';
    font-weight: bolder;
    font-size: 150%;
}

#deliveryHeader{
    font-family: 'Parisienne', cursive;
    font-size: 300%;
    letter-spacing: 4px;
    color: black;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-weight: bold;
}

#searchText{
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Parisienne', cursive;
    font-size: 190%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 10px;
}

#searchInput{
    height: 4.5%;
    width: 20%;
    font-family: 'Arima Madurai', cursive;
    font-size: 120%;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1%;
    background-color: #ffffff66;
    border-radius: 31px;
    text-align: center;
}

form{
    width: 90%;
    margin: auto;
    display: flex;
}


form > div{
    margin: 6.5%;
    margin-top: 0;
    margin-bottom: 0;
    width: 35%;
}


form > div > input{
    text-align: center;
    font-family: 'Arima Madurai';
    font-size: 140%;
    color: black;
    font-weight: bold;
    border-radius: 30px;
}

#dateInput{
    text-align: center;
    font-family: 'Arima Madurai';
    font-size: 150%;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    width: 57%;
    background: white;
    border: 2px inset gray;
}

*:focus{
    outline: none;
}

#buttonsContainer{
    display: inline-flex;
}
input, #dateInput{
    width: 20vw;
    margin: 0%;
}


@media only screen and (max-width: 1475px) {
    app-product-card{
        width: 29%;
        margin: 2%;
    }

    #allProductsDiv {
        max-height: 120%;
        width: 100%;
        margin-bottom: 0;
    }
    td > img{
        width: 60px;
    }

    tbody{
        height: 170px;
    }
}



@media screen and (max-width: 1050px) {
    #checkoutComponent{
        margin-top: 13.9vh;
        height: auto;
    }
    h1{
        padding-top: 3vh !important;
    }
    input, #dateInput{
        width: 40vw;
        margin: 0%;
    }

    table{
        width: 100vw;
    }
    th, td{
        min-width: 20vw !important;
    }

    form{
        width: 100%;
    }
    form > div{
        width: 50%;
        margin: 0
    }

    button{
        width: 50vw !important;
    }

    tbody{
        width: 100vw;
    }
}

@media screen and (max-width: 820px) {
    tbody{
        height:140px
    }
    #searchInput{
        width: 40%;
    }

    #totalPrice{
        font-family: 'Arima Madurai';
        font-weight: bolder;
        font-size: 150%;
    }
    
    #buttonsContainer > button{
    margin-bottom: 5%;
    }

}

@media screen and (max-width: 500px) {
    table, form > div > input{
        font-size: 120% !important;
    }

    h1 , #deliveryHeader{
        font-size: 200%;
    }

}

@media screen and (min-width: 400px) and (max-height: 800px) {
    #checkoutComponent{
        margin-top: 14.9vh;
    }

    
@media screen and (min-width: 1000px) and (max-height: 800px) {
    #checkoutComponent{
        margin-top: 14.9vh;
    }
}

}


