
mat-expansion-panel{
    width: 30%;
    margin: auto;
    background-color: rgb(255 255 255 / 1);
}

mat-panel-title, a{
    margin: auto;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 140%;
    padding: 2%;
}


.filterOptions {
    font-size: 180%;
    letter-spacing: 3px;
    line-height: 130%;
}

.filterOptions-ng-tns-c84-0{
    font-size: 10%;
}

@media only screen and (max-width: 1475px) {
    app-product-card{
        width: 29%;
        margin: 2%;
    }

    #allProductsDiv {
        max-height: 90%;
        width: 100%;
    }

}

@media only screen and (max-width: 1350px) {
    mat-expansion-panel{
        width: 40%;
    }
}


@media only screen and (max-width: 1050px) {
    mat-expansion-panel{
        width: 60%;
    }
}

@media only screen and (max-width: 760px) {
    mat-expansion-panel{
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    mat-expansion-panel{
        width: 100%;
    }
}