@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

#Page404{
    margin-top: 1%;
    font-family: 'Parisienne', cursive;
    letter-spacing:3px;
    font-size: xx-large;
    padding: 5%
}

h1{
    font-family: 'Parisienne', cursive;
    letter-spacing:3px;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 3%;
    line-height: 120%
}

button{
    width: 15% ;
    height: 8%;
    margin-top: 3%;
    border-radius: 30px;
    font-family: 'Parisienne', cursive;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 100%;
}

@media screen and (max-width: 1050px) {
    #Page404 {
        margin-top: 13.5vh
    }

    button{
        width: 35% ;
    }
    
    
}
    
    
@media screen and (max-width: 550px) {
    #Page404 {
        margin-top: 14.5vh
    }
    img{
        width: 90vw;
    }
    button{
        width: 90vw;
    }
}

@media screen and (max-width: 338px) {
    #Page404 {
        margin-top: 16.5vh
    }
}
    


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
